*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-inline: auto;
    border: 2px solid black;
    margin-block: 10px;
    margin-inline: 700px;
    padding-bottom: 800px;
}

.foto{
    border: 2px solid black;
    width: 50px;

}

footer{
    border: 2px solid black;
    margin: 10px 20px 30px 40px;
}